/* purgecss start ignore */
@import "tailwindcss/base";
/* purgecss end ignore */

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.custom-hero-wave {
  height: 105%;
}

.custom-map-image {
  width: 700px;
}

@media (max-width: 1600px) {
  .custom-hero-wave {
    height: 110%;
  }
}

@media (max-width: 1366px) {
  .custom-hero-wave {
    height: 120%;
  }

  .custom-map-image {
    margin-right: 0 !important;
  }
}
