/* purgecss start ignore */
@import "tailwindcss/base";
/* purgecss end ignore */

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

body {
  font-family: "Montserrat", sans-serif;
}

.custom-hero-wave {
  height: 105%;
}

.custom-map-image {
  width: 700px;
}

@media (max-width: 1600px) {
  .custom-hero-wave {
    height: 110%;
  }
}

@media (max-width: 1366px) {
  .custom-hero-wave {
    height: 120%;
  }

  .custom-map-image {
    margin-right: 0 !important;
  }
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-25px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
